/jsyntaxpane-0.9.5-b/build/
/jsyntaxpane-0.9.5-b/nbproject/private/
/jsyntaxpane/build/
/jsyntaxpane/nbproject/private/
/assembler/nbproject/private/
/assembler/build/
/luaj/nbproject/private/
/iodevice/build/
/Bytecode-Engineering-Library/build/
/Bytecode-Engineering-Library/nbproject/private
/bel/Bytecode-Engineering-Library/nbproject/private/
/bel/Bytecode-Engineering-Library/build/
/bcel/nbproject/private/
/bcel/build/
/iodevice/nbproject/private/